<!-- Component Lifecycle -->
<!-- app-root text
<app-hoang-toni></app-hoang-toni>
<app-parent></app-parent> -->

<!-- Encapsulation -->
<!-- <app-encapsulation></app-encapsulation>
<app-none-encapsulation></app-none-encapsulation>
<app-emulated-encapsulation></app-emulated-encapsulation>
<app-shadow-dom-encapsulation></app-shadow-dom-encapsulation> -->

<!-- Interaction -->
<!-- <app-hero-parent></app-hero-parent> -->
<!-- <app-name-parent></app-name-parent> -->
<!-- <app-version-parent></app-version-parent> -->
<!-- <app-vote-taker></app-vote-taker> -->
<!-- <app-countdown-parent-lv></app-countdown-parent-lv> -->
<!-- <app-countdown-parent-vc></app-countdown-parent-vc> -->
<!-- <app-mission-control></app-mission-control> -->

<!-- input -->
<!-- <app-item-detail [item]="currentItem"></app-item-detail> -->
<!-- output -->
<!-- <app-item-output (newItemEvent)="addItem($event)"></app-item-output>
<ul>
  <li *ngFor="let item of items">{{item}}</li>
</ul> -->
<!-- input & output -->
<app-input-output
  [item]="currentItem"
  (deleteRequest)="crossOffItem($event)">
</app-input-output>