<!-- Component Lifecycle -->
<!-- app-root text
<app-hoang-toni></app-hoang-toni>
<app-parent></app-parent> -->

<!-- Encapsulation -->
<!-- <app-encapsulation></app-encapsulation>
<app-none-encapsulation></app-none-encapsulation>
<app-emulated-encapsulation></app-emulated-encapsulation>
<app-shadow-dom-encapsulation></app-shadow-dom-encapsulation> -->

<!-- Interaction -->
<!-- <app-hero-parent></app-hero-parent> -->
<!-- <app-name-parent></app-name-parent> -->
<!-- <app-version-parent></app-version-parent> -->
<!-- <app-vote-taker></app-vote-taker> -->
<!-- <app-countdown-parent-lv></app-countdown-parent-lv> -->
<!-- <app-countdown-parent-vc></app-countdown-parent-vc> -->

<app-mission-control></app-mission-control>

